* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: white;
}
.Navbar{
  padding: 4%;
  height: 70px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}
.logo{
  width: 82px;
  height: 25px;
}
.gray{
  color: gray;
}
.Hero{
  padding: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.grid{
  width: 400px;
  height: 240px;
  
}

h1, p{
  font-family: Poppins;
  text-align: left;
  
}
.Card{
  width: 175px;
  font-size: 12px;
  flex: 0 0 auto;         /* ADD */
  display: flex;          /* ADD */
  flex-direction: column; /* ADD */
}
.star{
  height: 20px;
  width: 20px;
  align-self: left;
}
.katie{
  height: 235px;
  width: 176px;
  border-radius: 5px;
}
.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
  background-color: white;
  border-radius: 5px;

  
}
.Katie-text{
  
    position: relative;
    text-align: left;
    color: black;
    font-family: poppins;
    font-size: 10px;
}
.cards-list {
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  overflow-x: auto;
}
